<div class="valign-wrapper full-valign">
  <div class="content">
    <h1 class="center-align fire-engine-red">Eat-da-burger!</h1>

    <!-- burger creation form -->
    <form method="POST" action="/" class="big-form">
      <h5 class="charcoal">Here at Eat-da-Burger we're always looking for suggestions for new burger creations. Submit your idea below and we'll
        add it to our lineup!</h5>
      <div class="row">
        <div class="col m6">
          <div class="input-field">
            <input type="text" name="burger_name" id="burger_name" required></input>
            <label for="burger_name">Burger name</label>
          </div>
        </div>
        <div class="col m6">
          <div class="input-field">
            <input type="text" name="burger_description" id="burger_description" maxlength="250"></input>
            <label for="burger_description">Description (make it good!)</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col m6">
          <div class="input-field">
            <input type="text" name="inventor_name" id="inventor" required></input>
            <label for="inventor">Your name</label>
          </div>
        </div>
        <div class="col m6">
          <button class="btn waves-effect waves-light" type="submit">submit</button>
        </div>
      </div>
    </form>

    <!-- "Uneaten" column -->
    <div class="row">
      <div class="col m6">
        <ul class="collection with-header">
          <li class="collection-header">
            <h4>Uneaten:</h4>
          </li>
          {{#each burgers}} {{#unless this.devoured_by}}
          <li class="collection-item avatar">
            <img src="assets/img/burger.svg" alt="" class="circle">
            <span class="title">{{this.burger_name}}</span>
            <p>
              {{this.burger_description}}<br> {{!-- Check how it references inventor --}}
              <span class="invented">Invented by {{this.Inventor}}</span>
            </p>
            <form action="/1?_method=PUT" method="POST" class="secondary-content">
              <input type="hidden" name="devoured" value="true">
              <a href="#" type="submit" class="btn-devour">DEVOUR<i class="material-icons right">restaurant</i></a>
            </form>
          </li>
          {{/unless}} {{/each}}
        </ul>
      </div>

      <!-- "Eaten" column -->
      <div class="col m6">
        <ul class="collection with-header">
          <li class="collection-header">
            <h4>Eaten:</h4>
          </li>
          {{#each burgers}} {{#if this.devoured_by}}
          <li class="collection-item avatar">
            <img src="assets/img/burger.svg" alt="" class="circle">
            <span class="title">{{this.burger_name}}</span>
            <p>
              {{this.burger_description}}<br> {{!-- check Inventor --}}
              <span class="invented">Invented by {{this.Inventor}}</span>
            </p>
            <p class="secondary-content grey-text">
              Eaten by {{this.devoured_by}}!
            </p>
          </li>
          {{/if}} {{/each}}
        </ul>
      </div>
    </div>
    <!-- /.content -->
  </div>
  <!-- /.valign-wrapper -->
</div>